.button1 {
    background-color: rgb(202, 0, 0);
    color: white;
   border: none;
  height:34px ;
  width: 110px;
  border-radius: 2.5px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 100ms;
}
.button2{
border-color: #008CBA;
border-width: 1px;
border-style: solid;
height: 34px;
width: 66px;
    border-color:#0057ba ;
    color:#0057ba ;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 150ms,color 150ms;
    font-weight: lighter;
   
}
.button2:hover {
    background-color:#0057ba;
    color: white;
}
.button2:active{
    opacity: 0.6;
}
.button1:hover{
    background-color: rgb(202, 0, 0);
    opacity: 0.6;

}
.button1:active{
    opacity: 0.4;
}

.button3 {
    border-style: solid;
    border-width: 1px;
    width: 70px;
    height: 34px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #03a1d6;
    border-color:  #03a1d6;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: opacity 75ms,box-shadow 150ms;
   
}
.button3:hover{
    
    box-shadow: 0px 3.5px 1px rgba(0, 0, 0, 0.13);
}
.button3:active{
    opacity: 0.6;
}

.button-Uber {
    border: none;
    background-color: black;
    color: white;
    height: 34px;
    width: 110px;
    margin-left: 8px;
    transition: opacity 250ms;

}
.button-Uber:hover{
    opacity: 0.7;
}

.download {
    height: 34px;
    width: 100px;
    border-color: rgb(108, 117, 125);
    border-width: 2px;
    border-radius: 3px;
    color:  rgb(108,117,125);
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    border-style: solid;
}
.download:hover{
    border-color:rgb(108, 117, 125);
    background-color:rgb(108, 117, 125) ;
    color: white;
}